body {
  font-family: fantasy;
  font-size: 20px;
}

header {
  text-align:center;
  font-size:40px;
}

#con {
  background-color: #ced2f5;
  padding: 20px;
  max-width: 400px;
  margin: 40px;
  border: 3px solid #9fa19f;
  border-radius: 5px;
  border-style: outset;
  text-align: left;
  height: 350px; 
}

input{
	box-sizing: border-box;
	width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #000000;
  border-radius: 4px;
}


#button {
  color: #809ac2;
  width: 50%;
  border-radius: 15px 25px;
  padding: 5px 10px;
  font-size: 25px;
  cursor: pointer;
}

#button:hover {
  background-color: #404d61
}

