body {
  font-family: fantasy;
  width: 100%;
  font-size: 30px;
}

h1 {
  text-align:center;
}

#con {
  float:center;
  background-color: #ced2f5;
  padding: 50px;
  max-width: 400px;
  margin: 40px;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  border-style: outset;
  text-align: left;
  height: 350px; 
}

input{
	box-sizing: border-box;
	width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}


#button {
  color: #809ac2;
  width: 50%;
  border-radius: 15px 25px;
  padding: 5px 10px;
  font-size: 25px;
  cursor: pointer;
}

#button:hover {
  background-color: #404d61
}

